.icon{
	width: 1.2em;
	height: 1.2em;
	fill: currentColor;
	vertical-align: -0.24em;
}

.icon--circle-bg{
	background: grey;
	border-radius:50%;
	padding:5px;
	fill: white;
}

.icon--red{
	fill: red;
}

.icon--flipped{
	transform: rotate(180deg);
}