<!--The whole content below can be removed with the new code.-->
<div style="text-align:center">
	<h1>hi</h1>
	 <h1><icon class="u-margin-right" slug="check"></icon>Angular SVG Icon System Demo</h1>
	<icon slug="hamburger"></icon>
	<icon slug="warning" svgClassNames="icon--red"></icon>
	<icon slug="pin"></icon>
	<icon slug="x"></icon>
	<button>Search<icon class="u-margin-left" slug="search"></icon></button>
	<button>Next<icon class="u-margin-left" slug="chevron" svgClassNames="icon--flipped"></icon></button> 
</div>

